# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & runtime junk
# =========================
logs/
*.log

# =========================
# AI / Model caches (CRITICAL)
# =========================
offload_weights/

# Ollama / LMDeploy / Soprano
**/ollama/
**/lmdeploy/
**/soprano/
**/huggingface/

# =========================
# Runtime data (DO NOT COMMIT)
# =========================
patch_memory.json
patch_reminders.json

# =========================
# Audio leftovers
# =========================
*.wav
*.mp3

# =========================
# Shits I forgot
# =========================

Patch AI/Assets/Sounds/bootup_sounds/*
Patch AI/Assets/Sounds/poweroff_sounds/*
Patch AI/Assets/Faces/*

archive/**/Assets/*

!Patch AI/Assets/Sounds/bootup_sounds/.gitkeep
!Patch AI/Assets/Sounds/poweroff_sounds/.gitkeep
!Patch AI/Assets/Faces/.gitkeep
!archive/**/Assets/.gitkeep